@font-face {
    font-family: JetBrainsMono;
    src: url('../Tipografias/JetbrainsMono/ttf/JetBrainsMono-Bold.ttf');
}

@font-face {
    font-family: Simvoni;
    src: url('../Tipografias/simvoni/Simvoni-d9vV6.otf'), url('../Tipografias/simvoni/SimvoniBold-w1dOn.otf'), url('../Tipografias/simvoni/SimvoniBoldItalic-7BXvl.otf');
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Simvoni;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.contenedor {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #071838d4; /* Azul con 20% de opacidad */
  }
  .contenedor img {
    position: absolute;
  }
  
  .imagen {
    top: 0;
    left: 0;
    width: 708px;
    padding-block-start: 63px;
    padding-inline-start: 42px;
    z-index: 2;
  }
  .texto {
    position: absolute;
    top: 350px; /* Ajusta la posición vertical según tus necesidades */
    left: 10px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 2;
  }
  
  .texto span {
    color: white;
    color: white;
    font-size: 25px;
    font-weight: normal;
    padding-inline-start: 30px;
  }
.chat {
    margin-left: 90%;
    position: fixed;
    z-index: 9999;
    overflow: visible;
    bottom: 20px;
    right: 20px;
}

/* Media queries para ajustar los estilos en diferentes tamaños de pantalla */

@media (max-width: 768px) {
    .imagen {
        width: 459px;
        padding-inline-start: 5%;
    }
    .texto {
      top: 25%;
    }
  
    .texto span {
      font-size: 3vw;
      padding-inline-start: 2vw;
    }
  }
  
  @media (max-width: 480px) {
    .imagen {
        width: 315px;
        padding-inline-start: 5%;
    }
  
    .texto {
      top: 20%;
      left: 2%;
    }
  
    .texto span {
      font-size: 12px;
      padding-inline-start: 2.5vw;
    }
  }